.backgound-main {
    background-color: rgb(252, 238, 251);
}

.nav-link-text {
    display: block;
    color: #191a19;
}

.carousel-overlay {
    background: rgba(0, 0, 0, 0.7);
    /* 黑色半透明 */
    z-index: 1;
    /* 在图片上方但在内容下方 */
}

.z-2 {
    z-index: 2;
    /* 确保内容在最上层 */
}

.fillscreen-img {
    min-height: 100vh;
    min-width: none;
}

.img-fillcontainer {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-fillcontainer>img {
    height: auto;
    width: 100%;
    max-width: none;
}

.img-max300px {
    max-height: 300px;
    /* 限制容器最大高度 */
    display: flex;
    /* 使用 flex 布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.img-max300px>img {
    height: auto;
    width: 100%;
    max-width: none;
    object-fit: cover;
    /* 保持图片比例并覆盖容器 */
}

.mutedtext {
    color: #534b52;
}

.h5_5 {

    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;

}

/* 优化 */
hr {
    margin: 8px 0;
    color: inherit;
    background-color: currentColor;
    /* border: 0; */
    opacity: .25;
}

.bloder-1 {
    font-weight: bolder;
}

.bloder-2 {
    font-weight: 800;
}

.bloder-3 {
    font-weight: 500;
}

.bloder-4 {
    font-weight: 400;
}

.bloder-5 {
    font-weight: 300;
}

.h-45 {
    height: 45% !important;
}